<h2>{{articleTitle}}</h2>
<table class="table">
  <thead>
      <tr>
        <th>Image</th>
        <th>Article</th>
        <th>Brand</th>
        <th>Stock</th>
        <th>Price</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles" [ngClass]="{'clearance': article.clearance}">
      <td> <img width="90" [src]="article.image" [alt]="article.description"> </td>
      <td>{{article.description}}</td>
      <td>{{article.brand}}</td>
      <td> <span *ngIf="article.stock==0" class="badge text-bg-danger">SIN STOCK</span></td>
      <td>{{article.price | currency}}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="downQuantity(article)">-</button>
          <input type="text" [(ngModel)]="article.quantity">
        <button class="btn btn-primary btn-sm" (click)="upQuantity(article)">+</button>
      </td>
    </tr>
  </tbody>
</table>
